absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
future==0.17.1
gast==0.2.1.post0
grpcio==1.17.1
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
numpy==1.15.4
plac==0.9.6
preshed==2.0.1
protobuf==3.6.1
pycparser==2.19
python-telegram-bot==11.1.0
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
tensorboard==1.12.2
tensorflow==2.5.3
termcolor==1.1.0
thinc==6.12.1
toolz==0.9.0
tqdm==4.29.0
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
